<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>titulo</td>
			</tr>
			<% for(var item = 0; item < noticias.length; item++){ %>
				<tr>
					<td> <%= noticias[item].id_noticia %></td>
					<td> <%= noticias[item].titulo %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>